<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    
       <div class="container border mt-5 mx-auto p-5">
        <form method="post" action="/updateData">
        <div class="mb-3">
            <input type="number"  name="id" />
            <label for="exampleInputEmail1" class="form-label">Edit task</label>
            <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
    
        <button type="submit"  value="Update" class="btn btn-primary">Submit</button>

        </form>
    </div>

</body>
</html>